
    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <ul class="footer-links">
          <li class="list-inline-item">
            <a class="social-link text-muted mr-3 facebook" href="https://www.facebook.com/julia5liu">
              <i class="fa fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link text-muted mr-3 twitter" href="https://twitter.com/julia_s_liu">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
	        <li class="list-inline-item">
	        	<a class="social-link text-muted mr-3 instagram" href="https://www.instagram.com/julia.s.liu">
              <i class="fa fa-instagram"></i>
	            </a>
	        </li>
          <li class="list-inline-item">
            <a class="social-link text-muted mr-3 linkedin" href="https://www.linkedin.com/in/juliasliu/">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link text-muted github" href="https://www.youtube.com/channel/UCZQ0Gl73SnW2piK379_e0DA?feature=emb_ch_name_ex">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link text-muted github" href="https://github.com/juliasliu">
              <i class="fa fa-github"></i>
            </a>
          </li>
        </ul>
        <p class="footer-caption small text-muted">
        	Made with <i class="fas fa-code"></i> + <i class="fas fa-mug-hot"></i> + <i class="fas fa-heart"></i> by Julia Liu
        </p>
        <p class="footer-caption small text-muted">
        	Cupertino, California. <span id="current-year"></span>.
        </p>
      </div>
    </footer>
