<!-- Navigation -->
    <nav class="navbar navbar-toggleable-md bg-faded">
	    <div class="navbar-nav">
		  <ul class="nav center">
		      <li class="nav-item">
		        <a class="nav-link highlight-link" href="/about">About</a>
			  </li>
		      <li class="nav-item">
		        <a class="nav-link highlight-link" href="/works">Work</a>
			  </li>
			  <li class="nav-item">
			      <a class="navbar-brand" href="/">
				    <img src="/assets/img/logos/logo.png" alt="JSL">
				  </a>
			  </li>
		      <li class="nav-item">
		        <a class="nav-link highlight-link" href="/blog">Blog</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link highlight-link" href="/contact">Contact</a>
		      </li>
		  </ul>
	    </div>
    </nav>
