/* BLOG POSTS */

.content.blog-post .subtitle {
	margin-bottom: 1rem;
}

.content.blog-post .date {
	color: #6c757d;
	margin-bottom: 1rem;
}

.posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	margin: 0 5rem;
}

.posts .card {
	/* Aspect ratio 2:1, dimensions 500px x 250px */
	max-width: 500px;
	text-align: left;
	padding: 2rem;
	margin: 2rem;
	border-radius: .5rem;
	border: none;
	box-shadow: 0px 2px 2px #eee;
}

.posts .card .card-title {
	color: #000 !important;
	font-size: 1.15rem;
	font-weight: 500;
	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden;
}

.posts .card .card-subtitle {
	color: #000 !important;
	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden;
}

.post-container {
	padding: 1rem 25%;
	text-align: left;
}

.post-container.posts {
	text-align: center;
}

@media screen and (max-width: 685px) {
	.post-container {
		padding: 0 10%;
	}
}

.post-container ol {
	list-style-type: decimal;
	padding-inline-start: 30px;
}

.post-container.posts {
	margin: 0;
}

.post-container.posts .card {
	/* Aspect ratio 7:5, dimensions 140px x 100px */
	max-width: 33.33%;
}
