/* FOOTER */

.footer {
	position: relative;
	background: white;
	margin-top: 4rem;
	z-index: 100;
}

.footer .container {
	padding: 20px;
}

.footer .footer-links {
	padding: 20px;
}

.footer .footer-links .social-link {
	margin: 0 1rem;
}

.footer .footer-links .social-link i {
	color: transparent;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #6c757d;
	transition: color .5s;
}

.footer .footer-links .social-link:hover i {
	color: #6c757d;
}

.footer .footer-caption {
	text-transform: uppercase;
}

.footer .footer-caption i {
	padding: 5px;
}

.social-link {
	font-size: 1.2rem;
    border-radius: 50%;
}

.social-link:hover {
	text-decoration: none;
	color: #000 !important;
}
