---
layout: default
---

<div class="body">
	<div class="about">

	    <div class="background three"></div>
    	<div class="background four"></div>

		<!-- About me -->
	    <section class="content">

	    	<div class="title"><span class="highlight">About Me</span></div>

	    	<div class="row">
		    	<div class="col-lg-3">
		    		<div class="about-pic-container">
		    			<img class="about-pic" src={{ "/assets/img/profiles/profile_grad.JPEG" | relative_url }} />
		    		</div>
		    	</div>
		    	<div class="col-lg-7">
		    		<div class="text text-align-left">
				    	<p>
							Hi there ✌️, I am Julia Liu!
						</p>
						<p>
							I graduated from <a class="highlight" href="https://www.berkeley.edu/">UC Berkeley</a> in the class of 2022,
							where I received a B.A. in Computer Science, B.S. in Business Administration, and Certificate in Entrepreneurship & Technology.
							Go bears! 🐻
						</p>
						<p>
							Now, I am currently a software engineer at <a class="highlight" href="https://google.com/">Google</a> where I work on the 
							Visual Journeys SRE team, responsible for the reliability of Image Search and Google Lens.
						</p>
						<p>
							In the past, I worked as a Product Management Intern at <a class="highlight" href="https://tesla.com/">Tesla</a> on the Global Supercharger Operations team 
							and a Growth Equity Intern at <a class="highlight" href="https://greycroft.com/">Greycroft</a> on the Growth Fund team.
						</p>
					</div>
			    </div>
			</div>

	    	<div class="row">
		    	<div class="col-lg-7">
			        <div class="text text-align-left">
						<p>
							In my free time, I sew my own clothes and accessories. What started out as a quarantine hobby in 2021 became 
							a slightly unhealthy obsession with creating my entire wardrobe from scratch. If you can't find me at my work desk,
							you can find me at my sewing machine.
						</p>
			            <p>
							On days where I am not completely occupied in my sewing corner, I occasionally frequent the dance studio.
							Dance is my only preferred form of exercise, an activity that I do not do much of.
						</p>
						<p>
							I am a hands-on self-learner who loves to create. While I am pretty busy answering to my daytime job, 
							I try to carve some time out of my schedule to get lost in personal projects. 
							Here's to hopefully seeing them come out of the shadows...
						</p>
				    </div>
		    	</div>
		    	<div class="col-lg-3">
		    		<div class="about-pic-container">
		    			<img class="about-pic" src={{"/assets/img/profiles/profile_claremont.JPG" | relative_url }} />
		    		</div>
		    	</div>
		    </div>

    	</section>
    	<!-- End about me -->

    </div>
</div>
