---
layout: default
---

<div class="body">
	<div class="about">

	    <div class="background three"></div>
    	<div class="background four"></div>

		<!-- About me -->
	    <section class="content">

	    	<div class="title"><span class="highlight">About Me</span></div>

	    	<div class="row">
		    	<div class="col-lg-4">
		    		<div class="about-pic-container">
		    			<img class="about-pic" src={{ "/assets/img/profiles/profile_dt_3.jpg" | relative_url }} />
		    		</div>
		    	</div>
		    	<div class="col-lg-6">
		    		<div class="text text-align-left">
				    	<p>
	            	Hi there ✌️, I am Julia Liu! I am from the Bay Area and am currently an undergraduate student at <span class="highlight">University of California, Berkeley</span> in the Class of 2022,
	            	pursuing a <span class="highlight">B.A. in Computer Science</span> and <span class="highlight">B.S. in Business Administration</span>, as well as the Certificate in Entrepreneurship & Technology.
								Go bears! 🐻
	            </p>
	            <p>
								I am a software engineer passionate about innovative AI, ML, and NLP technology 💻with a strong interest in exploring the product management space.
								As someone who likes to get their hands dirty in side projects, I enjoy designing and developing full-stack web and mobile apps from scratch in my free time.
								I am always up for challenges! 🎉
	            	<ul class="about-list">
	            		<li>I was a <a class="highlight" href="https://buildyourfuture.withgoogle.com/programs/step/">STEP Intern at Google</a> for Summer 2020.</li>
									<li>I am a <a class="highlight" href="https://wdd.io/">TA for a web design decal course</a> at Berkeley.</li>
									<li>I built and published multiple web and iOS apps, including <a class="highlight" href="/works/verze">Verze</a>, <a class="highlight" href="/works/dreamemo">Dreamemo</a>, and <a class="highlight" href="/works/kwizu">Kwizu</a>.</li>
									<li>I have designed websites for <span class="highlight">4+</span> clubs in high school and college.</li>
									<li>I have taken <span class="highlight">CS 188</span> (artificial intelligence), <span class="highlight">EE 127</span> (optimization in engineering), and <span class="highlight">CS 170</span> (advanced algorithms).</li>
	            	</ul>
	            </p>
		        </div>
			    </div>
			</div>

	    	<div class="row">
		    	<div class="col-lg-7">
			        <div class="text text-align-left">
			            <p>
			            	I am involved in various business organizations in consulting, entrepreneurship, and venture capital.
										I was drawn to the opportunity of working on interdisciplinary tech consulting 📊projects for company clients,
										and my fascination with startups 🚀also led me to get involved with startup accelerator programs at Cal.
			            	<ul class="about-list">
			            		<li>I am currently a <a class="highlight" href="https://www.greycroft.com/">Growth Equity Intern at Greycroft</a> for Fall 2020.</li>
			            		<li>I am the <a class="highlight" href="http://diversatech.org/">VP of Marketing for DiversaTech</a>, where I was previously a strategy consultant for Airbnb and Tinder and technical project manager for Sephora.</li>
			            		<li>I was the <a class="highlight" href="https://www.uclaunch.com/">VP of Program Operations for the UC Launch Startup Accelerator Program</a>, where I helped oversee the 2019 and 2020 startup cohorts.</li>
			            		<li>I was the <a class="highlight" href="http://accelerateherberkeley.com/">VP of Innovation for AccelerateHer</a>, where I led the Spring 2020 fellowship program for female-focused startup teams and designed the club website.</li>
			            		<li>I worked as a <a class="highlight" href="https://www.win-kel.com/">Management Intern for Win-Kel</a> for Summer 2019.</li>
			            		<li>I was a <a class="highlight" href="https://mochimag.com/">college ambassador for Mochi Magazine</a>, the first female Asian American media platform.</li>
			            	</ul>
						</p>
				    </div>
		    	</div>
		    	<div class="col-lg-3">
		    		<div class="about-pic-container">
		    			<img class="about-pic" src={{"/assets/img/profiles/sunset.JPG" | relative_url }} />
		    		</div>
		    	</div>
		    </div>

				<div class="row">
					<div class="col-lg-10">
			        <div class="text text-align-left">
								<p>
									Besides coding away hours of my life 25/8 👩‍💻, I love spending time hanging with my friends and indulging in my boba and yerba mate obsession 🍵.
									I may be judged by the cashier at Target for my cart filled with yerba mates, but my love for tea shall not be deterred.
									You may run into me traveling ✈️(watch my vlogs!), walking at lightning speed to my next destination 🚶‍♀️(my record time is beating Google Maps by 7 min), flailing my racket on the badminton court 🏸, or practicing my awkward dancing skills 💃🏼in public places.
									Or, you will probably catch me buried into my computer screen listening to R&B and Kpop 🎵, online shopping 🛍️, binging Youtube, lurking on Twitter, and playing video games 🎮.
									If you want to strike up a conversation with me, don't be afraid to reach out (I promise I don't byte)!
								</p>
							</div>
					</div>
				</div>

    	</section>
    	<!-- End about me -->

	 <!--  <section class="content">

	        <nav class="slide-navbar">
				<ul>
					<li ng-repeat="org in orgs" ng-click="" ng-class="{'active': $first}">
						{{ org.title }}
					</li>
				</ul>
			</nav>

			<div class="slide work-slide" ng-repeat="org in orgs" ng-class="{'active': $first}" thumbnail-directive>
			    <div class="col-lg-6">
			    	<h4 class="mt-3">{{ org.title }}</h4>
			    	<h6>{{ org.location }}</h6>
			    	<p class="light">{{ org.date }}</p>
			    	<p>{{ org.description }}
			    	</p>
					<a class="btn btn-dark" href="#!about">hgfdhjh</a>
					<a class="btn btn-dark mx-3" href="#!work">gfdhg</a>
			    </div>
			    <div class="col-lg-6 image-col">
			    	<img ng-src="{{ org.image }}"/>
			    </div>
			</div>

	  </section> -->

    </div>
</div>
