---
layout: default
---

<div class="body">
	<div class="about">

	    <div class="background three"></div>
    	<div class="background four"></div>

		<!-- About me -->
	    <section class="content">

	    	<div class="title"><span class="highlight">About Me</span></div>

	    	<div class="row">
		    	<div class="col-lg-4">
		    		<div class="about-pic-container">
		    			<img class="about-pic" src="/assets/img/profiles/profile_dt_3.jpg"/>
		    		</div>
		    	</div>
		    	<div class="col-lg-6">
		    		<div class="text text-align-left">
				    	<p>
			            	Hi there! I am Julia Liu, from Bay Area, California. I am an undergraduate student at <span class="mark">University of California, Berkeley</span>, Class of 2022,
			            	fulfilling my <span class="mark">B.A. in Computer Science</span> and <span class="mark">B.S. in Business Administration</span>.
			            	I am also passionate about exploring the entrepreneurial side of tech and innovation and will thus also be completing my <span class="mark">Certificate in Entrepreneurship & Technology</span> at Cal.
			            </p>
			            <p>
			            	I have been designing websites since 2012 and love building full-stack web and mobile apps in my free time. I am also taking AI/ML/NLP courses at Berkeley and am constantly looking for more ways to involve myself in the tech space.
			            	<ul class="about-list">
			            		<li>I was a <span class="highlight">STEP Intern at Google</span> for Summer 2020.</li>
								<li>I am a <span class="highlight">TA for a web design decal course</span> at Berkeley.</li>
								<li>I created and released multiple web and iOS apps, including <span class="highlight">Verze</span>, <span class="highlight">Dreamemo</span>, and <span class="highlight">Kwizu</span>.</li>
			            	</ul>
			            </p>
			        </div>
			    </div>
			</div>

	    	<div class="row">
		    	<div class="col-lg-7">
			        <div class="text text-align-left">
			            <p>
			            	Since participating in FBLA in high school, I became involved in various management, consulting, and entrepreneurship organizations as well, both in and outside campus.
			            	<ul class="about-list">
			            		<li>I am currently a <span class="highlight">Growth Equity Intern at Greycroft</span>.</li>
			            		<li>I am the <span class="highlight">VP of Marketing for DiversaTech</span>, where I was previously a strategy consultant and project manager for a data analysis project.</li>
			            		<li>I was also <span class="highlight">VP of Program Operations for the UC Launch Startup Accelerator</span> for the 2020 cohort.</li>
			            		<li>I worked as a <span class="highlight">Management Intern for Win-Kel</span>, an "Airbnb for storage" startup summer 2019.</li>
			            		<li>I was the <span class="highlight">VP of Innovation for AccelerateHer</span>, where I led the spring 2020 fellowship program for femxle-focused startup teams.</li>
			            		<li>I was a <span class="highlight">college ambassador for Mochi Magazine</span>, an Asian-American-focused media platform.</li>
			            	</ul>
						</p>
						<p>
							Besides coding away hours of my life, living off the caffeine of my endless milk tea and yerba mate drinks, I also love spending time indulging in my hobbies.
							You can catch me traveling (watch my Youtube vlogs!), lurking on Twitter, writing unpublished stories, or practicing my awkward dancing skills on dance teams.
						</p>
				    </div>
		    	</div>
		    	<div class="col-lg-3">
		    		<div class="about-pic-container">
		    			<img class="about-pic" src="/assets/img/profiles/profile_backyard.jpg"/>
		    		</div>
		    	</div>
		    </div>

    	</section>
    	<!-- End about me -->

	 <!--  <section class="content">

	        <nav class="slide-navbar">
				<ul>
					<li ng-repeat="org in orgs" ng-click="" ng-class="{'active': $first}">
						{{ org.title }}
					</li>
				</ul>
			</nav>

			<div class="slide work-slide" ng-repeat="org in orgs" ng-class="{'active': $first}" thumbnail-directive>
			    <div class="col-lg-6">
			    	<h4 class="mt-3">{{ org.title }}</h4>
			    	<h6>{{ org.location }}</h6>
			    	<p class="light">{{ org.date }}</p>
			    	<p>{{ org.description }}
			    	</p>
					<a class="btn btn-dark" href="#!about">hgfdhjh</a>
					<a class="btn btn-dark mx-3" href="#!work">gfdhg</a>
			    </div>
			    <div class="col-lg-6 image-col">
			    	<img ng-src="{{ org.image }}"/>
			    </div>
			</div>

	  </section> -->

    </div>
</div>
