---
layout: default
---

<div class="body">
	<div class="blog">

		<!-- Blog -->
	  	<section class="content">

	    	<div class="title"><span class="highlight">Blog</span></div>
				<div class="subtitle">
					what are brains if not to get stuck between these thoughts.
				</div>

				<div class="blog-posts posts">
					{% for post in site.posts %}
							<a class="card blog-post" href="{{ post.url }}">
								<div class="card-title mt-2">{{ post.title }}</div>
								<div class="card-subtitle mb-2">{{ post.caption }}</div>
								<p class="light">{{ post.date | date: "%b %-d, %Y" }}</p>
							</a>
					{% endfor %}
				</div>
    	</section>
    	<!-- End blog -->

	</div>
</div>
