---
layout: default
---

<div class="body">
	<div class="blog">

		<section class="content">
	        <div class="row">
	          <div class="col-lg-10 mx-auto">

	            <div class="title"><span class="highlight">Contact Me</span></div>
	    		<div class="subtitle">Look forward to hearing from you!</div>

				<form class="form-horizontal" action="/contact" id="contact-form" method="post" role="form">
		          <fieldset>
		            <legend class="text-center"><!-- Contact me --></legend>

		            <!-- Name input-->
		            <div class="form-group">
		              <label class="col-md-2 control-label" for="name">Name</label>
		              <div class="col-md-10">
		                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
		              </div>
		            </div>

		            <!-- Email input-->
		            <div class="form-group">
		              <label class="col-md-2 control-label" for="email">E-mail</label>
		              <div class="col-md-10">
		                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
		              </div>
		            </div>

		            <!-- Message body -->
		            <div class="form-group">
		              <label class="col-md-2 control-label" for="message">Message</label>
		              <div class="col-md-10">
		                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
		              </div>
		            </div>

		            <!-- Form actions -->
		            <div class="form-group">
		              <div class="col-md-12 text-right">
		                <button type="submit" class="btn btn-dark btn-xl js-scroll-trigger">
			            	Submit
			            </button>
		              </div>
		            </div>
		          </fieldset>
		          </form>
	          </div>
	        </div>

    </section>

  </div>
</div>
