<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<title>Julia Liu</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Personal website">
  <meta name="author" content="Julia Liu">

	<meta property="og:title" content="Julia Liu">
	<meta property="og:image" content={{ "/assets/img/logos/site_black.png" | relative_url }}>
	<meta property="og:description" content="Personal website">
	<meta property="og:url" content="https://juliasliu.com/">
	<meta name="twitter:card" content="summary_large_image">

	<link rel="icon" href={{ "/assets/img/logos/site_black.png" | relative_url }}>

	<!-- Custom styles -->
	<link rel="stylesheet" href={{ "/assets/css/style.css" | relative_url }} />
	<link rel="stylesheet" href={{ "/assets/css/header.css" | relative_url }} />
	<link rel="stylesheet" href={{ "/assets/css/footer.css" | relative_url }} />
	<link rel="stylesheet" href={{ "/assets/css/home.css" | relative_url }} />
	<link rel="stylesheet" href={{ "/assets/css/about.css" | relative_url }} />
	<link rel="stylesheet" href={{ "/assets/css/work.css" | relative_url }} />
	<link rel="stylesheet" href={{ "/assets/css/blog.css" | relative_url }} />
	<link rel="stylesheet" href={{ "/assets/css/timeline.css" | relative_url }} />
	<link rel="stylesheet" href={{ "/assets/css/animate.css" | relative_url }} />
	<!-- <link rel="stylesheet" href="/assets/css/background.css"/> -->

  <!-- Bootstrap -->
  <link rel="stylesheet" href={{ "/assets/vend/bootstrap/css/bootstrap.min.css" | relative_url }}>

  <!-- Font Awesome -->
  <link rel="stylesheet" href={{ "/assets/vend/fontawesome/css/all.css" | relative_url }}> <!--load all styles -->
  <link rel="stylesheet" href={{ "/assets/vend/fontawesome/css/fontawesome.css" | relative_url }}>
	<link rel="stylesheet" href={{ "/assets/vend/fontawesome/css/brands.css" | relative_url }}>
	<link rel="stylesheet" href={{ "/assets/vend/fontawesome/css/regular.css" | relative_url }}>
	<link rel="stylesheet" href={{ "/assets/vend/fontawesome/css/solid.css" | relative_url }}>
	<link rel="stylesheet" href={{ "/assets/vend/fontawesome/css/v4-shims.css" | relative_url }}>

  <!-- Other fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">

	<!-- Twitter embed -->
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <!-- Medium embed -->
  <script src="https://www.retainable.io/assets/retainable/rss-embed/retainable-rss-embed.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142504345-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-142504345-1');
	</script>

	{% feed_meta %}
  {% seo %}

</head>
<body>
	 {% include header.html %}
	 {{ content }}
	 {% include footer.html %}

  <!-- Bootstrap core JavaScript -->
  <script src={{ "/assets/vend/jquery/jquery.min.js" | relative_url }}></script>
  <script src={{ "/assets/vend/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}></script>

  <!-- Plugin JavaScript -->
  <script src={{ "/assets/vend/jquery-easing/jquery.easing.min.js" | relative_url }}></script>

  <!-- Scripts -->
	<script src={{ "/assets/js/app.js" | relative_url }}></script>

	<!-- Wow animations -->
	<script src={{ "/assets/vend/wowjs/dist/wow.min.js" | relative_url }}></script>
	<script>
    new WOW().init();
  </script>

</body>
</html>
