---
layout: default
---

<div class="body">
	<div class="home">

		<!-- Home -->

		<!-- Banner -->
		<div class="banner-container">
		    <section class="content home-section">
			    	<img class="heading memoji" src={{ "/assets/img/profiles/memoji_100.gif" | relative_url }} alt="julia memoji" />
				   	<h1 class="heading heading-top my-2">Hi, I am <span class="colored">Julia Liu</span>. 👋</h1>
			    	<h6 class="heading my-4">
			    		I'm a software engineer at <a class="highlight" href="https://google.com/">@Google</a> in Search SRE.
						It's nice to meet you!
						</h6>
					<a class="btn btn-dark mx-2 my-2" href="about">About me</a>
					<a class="btn btn-dark mx-2 my-2" href="work">See my work</a>
	    	</section>
	    </div>
    	<!-- End banner -->

    </div>
</div>
