---
layout: default
---

<div class="body">
	<div class="home">

		<!-- Home -->

		<!-- Banner -->
		<div class="banner-container">
		    <section class="content home-section">
			    	<img class="heading memoji" src={{ "/assets/img/profiles/memoji_100.gif" | relative_url }} alt="julia memoji" />
				   	<h1 class="heading heading-top my-2">Hi, I am <span class="colored">Julia Liu</span>. 👋</h1>
			    	<h6 class="heading my-4">
			    		I'm a senior <a class="highlight" href="https://www.berkeley.edu/">@UC Berkeley</a> studying Computer Science and Business Administration.
						Currently, I am a Product Management Intern <a class="highlight" href="https://tesla.com/">@Tesla</a>. 
						Previously, I was a Software Engineering Intern <a class="highlight" href="https://google.com/">@Google</a> and 
						Growth Equity Intern <a class="highlight" href="https://www.greycroft.com/">@Greycroft</a>.
						</h6>
					<a class="btn btn-dark mx-2 my-2" href="about">About me</a>
					<a class="btn btn-dark mx-2 my-2" href="work">See my work</a>
	    	</section>
	    </div>
    	<!-- End banner -->

    </div>
</div>
