---
layout: default
---
<div class="body">
	<div class="blog">

		<!-- Blog -->
	  	<section class="content">
	    	<div class="title"><span class="highlight">{{ page.title }}</span></div>
        	<div class="subtitle">
				{{ page.date | date: "%b %-d, %Y" }} •
				{% capture words %}
				  {{ page.content | number_of_words }}
				{% endcapture %}
				{{ words | divided_by: 200 | append: " minute read" }}
			</div>

        	<div class="post-container">
				<div class="image-col my-4">
					<img src="{{ page.image | relative_url }}" alt="" />
				</div>
				<div class="py-4">
					{{ content }}
				</div>
			</div>

			<div class="post-container posts">
				{% for post in site.posts limit:3 %}
						<a class="card image-card" href="{{ post.url }}">
						<img src="{{ post.image | relative_url }}" alt="" />
						<div class="image-card-title mt-3">{{ post.title}}</div>
						<p class="light">{{ post.date | date: "%b %-d, %Y" }}</p>
					</a>
				{% endfor %}
			</div>
			<a href="/blog" class="highlight-link my-2">
				Read more <i class="fa fa-angle-right"></i>
			</a>
	  	</section>
  	</div>
</div>
