---
layout: default
---
<div class="body">
	<div class="blog">

		<!-- Blog -->
	  	<section class="post-container content">
	    	<div class="title"><span class="highlight">{{ page.title }}</span></div>
			<div class="subtitle">{{ page.caption }}</div>
        	<div class="timestamp">
				{{ page.date | date: "%b %-d, %Y" }} •
				{% capture words %}
				  {{ page.content | number_of_words }}
				{% endcapture %}
				{{ words | divided_by: 200 | append: " minute read" }}
			</div>

        	<div style="color: black;">
				{{ content }}
			</div>

			<div class="posts">
				{% for post in site.posts limit:2 %}
					<a class="card" href="{{ post.url }}">
						<div class="title">{{ post.title }}</div>
						<div class="subtitle">{{ post.caption }}</div>
						<p class="timestamp light">{{ post.date | date: "%b %-d, %Y" }}</p>
					</a>
				{% endfor %}
			</div>
			<a href="/blog" class="highlight-link my-4 px-0">
				Read more <i class="fa fa-angle-right"></i>
			</a>
	  	</section>
  	</div>
</div>
