---
layout: default
---

<div class="body">
	<div class="projects">

	  <!-- Work -->
	  <section class="content">

	    	<div class="title"><span class="highlight">Work</span></div>
			<div class="subtitle">
				More projects coming soon!
			</div>


		    <div class="works mt-4">
				{% assign sorted = site.works | sort: 'end' | reverse %}
				{% for work in sorted %}
		    	<div class="card">
		    		<img class="card-image" src="{{ work.image | relative_url }}" alt="" />
		    		<div class="card-title mt-3 mb-0">{{ work.name }}</div>
			    	<div>{{ work.caption }}</div>
            		<div class="card-buttons">
						{% for link in work.links %}
						<a target="_blank" href="{{ link.url }}"
						{% if link.style == "website" %} class="btn btn-light mx-2 my-2 website"
						{% elsif link.style == "ios" %} class="btn btn-light mx-2 my-2 ios"
						{% elsif link.style == "android" %} class="btn btn-light mx-2 my-2 android"
						{% elsif link.style == "github" %} class="btn btn-light mx-2 my-2 github"
						{% else %}
						{% endif %}>
							<span>{{ link.title }}</span>
						</a>
						{% endfor %}
					</div>
		    	</div>
				{% endfor %}
		    </div>

    	</section>
    	<!-- End work -->

	</div>
</div>
