---
layout: default
---

<div class="body">
	<div class="project">

	    <!-- Project -->
	   <section class="content center">

	    	<div class="title"><span class="highlight">{{ page.name }}</span></div>
				<p class="light">{{ page.start | date: "%b %Y" }} - {% if page.end == "present" %} present {% else %} {{ page.end | date: "%b %Y" }} {% endif %}</p>

		    <div class="row center">
					<div class="col-lg-10 image-col my-4">
						<img src="{{ page.image | relative_url }}" alt="" />
					</div>
			    <div class="col-lg-10 my-4">
						<h4>{{ page.caption }}</h4>
			    	<p>{{ page.content }}</p>
						<p><em>{{ page.skills }}</em></p>
            {% for link in page.links %}
							<a target="_blank" href="{{ link.url }}"
							{% if link.style == "website" %} class="btn btn-dark mx-2 website"
							{% elsif link.style == "ios" %} class="btn btn-dark mx-2 ios"
							{% elsif link.style == "android" %} class="btn btn-dark mx-2 android"
							{% elsif link.style == "github" %} class="btn btn-dark mx-2 github"
							{% else %}
							{% endif %}>
                <span>{{ link.title }}</span>
              </a>
            {% endfor %}
			    </div>
			</div>

	    </section>

	</div>
</div>
